@charset "EUC-KR";

body{
    margin: 0px;
    padding: 0px;
}

select{
	text-align: center;
}

option{
	text-align: center;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 15px;
   }
   
.member h2{
    font-size: 32px;
    color: #111111;
    border-bottom: 2px solid #111111;
    text-align: center;
    line-height: 100%;
    padding-bottom: 20px;
}
.member h3{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    color: #111111;
    font-size: 18px;
    padding-bottom: 8px;
    line-height: 100%;
    border-bottom: 0.5px solid #d9d9d9;
    font-weight: bold;
}

.member > ul{
    width: 500px;
    margin: 0;
    padding: 0px;
}


.member > ul li{
    padding : 30px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.member > ul li input{
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    height: 40px;
    text-indent: 12px;
}


.member li.idCheck{
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 299px;
}
.member li.idCheck label{
   font-size: 13px;
   font-weight: normal;
   color: #666666;
}

.member li.idCheck button{
    height: 30px;
    background-color: #ffb400;
    line-height: 30px;
    font-size: 15px;
    border-radius: 20px;
    color: #ffffff;
    border:#ffb400;
}
.member li.idpassword{
    padding-top: 0px;
}

.member li label{
    font-weight: bold;
}

.member li.gender{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    
}

.member  li.gender > label{
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.member li.gender > input[type="radio"]{
    margin: 0px;
    padding: 0px;
    width: 100px;
    box-sizing: border-box;
    height: 16px;
}

.member li.gender > input[type="radio"] + label{
    margin: 0px;
    padding: 0px;
    width: 60px;
    right: 0;
}

.member li.birth{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.member li.birth label{
    padding-right: 110px;
}

.member li.birth select{
    width: 100px;
    margin: 0px 5px;
    box-sizing: border-box;
    height: 40px;
}

.member li.phone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.member li.phone select{
    width: 70px;
    margin: 0px 5px;
    box-sizing: border-box;
    height: 40px;
}

.member li.phone select + input{
    width: 50%;
    padding: 0px;
    box-sizing: border-box;
    height: 40px;
    text-indent: 12px;
}

.member li.phone label{
    padding-right: 89px;
}

.member li.email {
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.member li.email label{
    padding-right: 70px;
    width: 37%;
}

.member li.email > input{
    width: 42%;
    padding: 0px;
    box-sizing: border-box;
    height: 40px;
    text-indent: 12px;
    margin-right: 5px;
}

.member li.email > input + select{
    width: 25%;
    padding: 0px;
    box-sizing: border-box;
    height: 40px;
    text-indent: 12px;
    margin-left: 5px;
}


.member button#insert{
    width: 100% ;
    height: 56px;
    background-color: #ffb400;
    line-height: 56px;
    font-size: 18px;
    color: #ffffff;
    border:#ffb400;
    font-weight: bold;
}

.member div ul{
    width: 500px;
    padding: 0px;
}


.member div ul li:first-child{
    padding : 0px 0px 0px 0px;
}

.member div ul li:first-child select{
    width: 100%;
    box-sizing: border-box; 
    height: 40px;
    text-indent: 12px;
}

.member div ul li:nth-child(3){
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.member div ul li:nth-child(3) label{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.member div ul li:nth-child(3) input[type="checkbox"]{
    margin: 0px 0px 3px 0px;
    padding: 0px;
    width: 100px;
    box-sizing: border-box;
    height: 16px;
    padding-left: 10px;
}

.member div ul li:nth-child(3) input[type="checkbox"] + label{
    margin: 0px;
    padding-left:10px;
    right: 0;
}

.member div + li{
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.member div + li input[type="checkbox"] {
    margin: 0px 0px 7px 0px;
    padding: 0px;
    width: 37px;
    box-sizing: border-box;
    height: 16px;
}

.member li.insert{
	padding : 0px;
}

.member span{
	color: red;
	font-weight: bold;
	font-size: 14px;
}






 